@import '../_style/theme.less';
@import '../_style/animate/move.less';

.uik {
    &-message {
        &-container {
            display: flex;
            flex-direction: column;
            position: absolute;

            // 解决div覆盖问题，原因未知
            & > div {
                position: relative;
                z-index: 1;
            }

            &-top {
                top: 10px;
            }

            &-bottom {
                bottom: 10px;
                flex-direction: column-reverse;
            }

            &-left {
                left: 10px;
                align-items: flex-start;
            }

            &-right {
                right: 10px;
                align-items: flex-end;
            }

            &-center {
                left: 50%;
                transform: translate(-50%);
                align-items: center;
            }
        }
    }
}

.uik {
    &-message {
        color: @font-color;
        background-color: #fff;
        transition: opacity 225ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
        box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
        border-radius: @border-radius;
        padding: 10px 20px;
        margin: 6px;
        max-width: 80vw;
        pointer-events: auto;

        &-icon {
            margin-right: 10px;

            &.success {
                color: @success-color;
            }
            &.error {
                color: @error-color;
            }
            &.warn {
                color: @warn-color;
            }
            &.info {
                color: @info-color;
            }
        }
    }
}

.uik-message.hidden {
    animation: messageMoveOut 0.3s forwards;
}

.uik-message-container-top {
    .uik-message.show {
        animation: moveUpIn 0.3s forwards;
    }
}

.uik-message-container-bottom {
    .uik-message.show {
        animation: moveDownIn 0.3s forwards;
    }
}

@keyframes messageMoveOut {
    0% {
        max-height: 150px;
        padding: 10px 20px;
        margin: 6px;
        opacity: 1;
    }
    100% {
        max-height: 0;
        padding: 0;
        margin: 0;
        opacity: 0;
    }
}
