{
    "url": "https://juejin.im/post/5a7d70496fb9a063317c47f1",
    "singleQuote": true,
    "tabWidth": 4,
    "semi": false,
    "trailingComma": "none",
    "useTabs": false,
    "bracketSpacing": true,
    "jsxBracketSameLine": false,
    "arrowParens": "always",
    "printWidth": 150
}
