@import '../_style/theme.less';

.uik-input {
    border: @border-width solid @border-color;
    border-radius: @border-radius;
    transition: border-color 0.3s, box-shadow 0.3s;
    box-sizing: border-box;
    display: inline-block;
    position: relative;
    width: 100%;

    &:hover {
        border-color: @primary-color;
    }
    &.focus {
        border-color: @primary-color;
        box-shadow: 0 0 1px 2px fade(@primary-color, 20);
    }

    &.error {
        &:hover {
            border-color: @danger-color;
        }
        &.focus {
            border-color: @danger-color;
            box-shadow: 0 0 1px 2px fade(@danger-color, 20);
        }
    }

    &.disabled {
        color: @disabled-color;
        background-color: @disabled-bg-color;
        cursor: not-allowed;

        & * {
            cursor: not-allowed;
        }

        input::placeholder {
            color: @disabled-color;
        }

        &:hover {
            border-color: @border-color !important; // 覆盖error
        }
        &.focus {
            border-color: @border-color !important;
            box-shadow: none !important;
        }
    }

    &-content {
        display: inline-flex;
        align-items: center;
        transition: height 0.3s;
        width: 100%;
        position: relative;

        &-component {
            border: 0;
            outline: none;
            padding: 0;
            font-size: inherit;
            background-color: inherit;
            color: inherit;
            width: 100%;
            text-overflow: ellipsis;

            &.large {
                height: calc( @height-large - 2px);
                font-size: @font-size-large;
                padding-left: 12px;
                padding-right: 12px;
            }
            &.middle {
                height: calc(@height-middle - 2px);
                font-size: @font-size-middle;
                padding-left: 10px;
                padding-right: 10px;
            }
            &.small {
                height: calc( @height-small - 2px);
                font-size: @font-size-small;
                padding-left: 8px;
                padding-right: 8px;
            }
            &.allow-clear {
                padding-right: 25px;
            }
        }

        &-close {
            position: absolute;
            left: calc(~'100% - 20px');
            height: 12px;
            width: 12px;
        }
    }
}
