@import '../_style/theme.less';

.uik-input {
    padding: 4px 10px;
    border: @border-width solid @border-color;
    border-radius: @border-radius;
    transition: border-color 0.3s, box-shadow 0.3s;
    box-sizing: border-box;
    display: inline-flex;
    flex-direction: column;
    position: relative;
    
    &:hover {
        border-color: @primary-color;
    }
    &.focus {
        border-color: @primary-color;
        box-shadow: 0 0 1px 2px fade(@primary-color, 20);
    }

    &.allow-clear {
        padding-right: 30px;
    }

    &.error {
        &:hover {
            border-color: @danger-color;
        }
        &.focus {
            border-color: @danger-color;
            box-shadow: 0 0 1px 2px fade(@danger-color, 20);
        }
    }

    &-disabled {
        color: @disabled-color;
        background-color: @disabled-bg-color;
        cursor: not-allowed;

        & * {
            cursor: not-allowed;
        }
        input::placeholder {
            color: @disabled-color;
        }

        &:hover {
            border-color: @border-color !important; // 覆盖error
        }
        &.focus {
            border-color: @border-color !important;
            box-shadow: none !important;
        }
    }

    &-large {
        height: @height-large;
        font-size: @font-size-large;
        padding: 6px 12px;
    }
    &-middle {
        height: @height-middle;
        font-size: @font-size-middle;
        padding: 4px 10px;
    }
    &-small {
        height: @height-small;
        font-size: @font-size-small;
        padding: 2px 8px;
    }

    &-content {
        display: inline-flex;
        align-items: center;
        transition: height 0.3s;
        height: 100%;
        position: relative;

        &-component {
            border: 0;
            outline: none;
            padding: 0;
            font-size: inherit;
            background-color: inherit;
            color: inherit;
        }

        &-close {
            opacity: 0;
            transition: opacity 0.3s;
            cursor: default;
            position: absolute;
            left: calc(~'100% + 5px');

            &.show {
                opacity: 1;
                cursor: pointer;
            }
        }
    }
}
