@import '../../_style/theme.less';

.uik-date-select {
    user-select: none;
    font-size: @font-size-middle;
    color: @font-color;
    width: 100%;
    height: 100%;
    display: inline-flex;
    flex-wrap: wrap;

    & > .date-title {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        width: 35px;
        height: 35px;
    }

    & > .date {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        width: 35px;
        height: 25px;
        margin: 5px 0;

        &.prev-month,
        &.next-month {
            color: @font-color-notice;
        }
        &.disabled {
            background-color: @disabled-bg-color;
            color: @font-color-notice;
            cursor: not-allowed;
        }

        .date-inner {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            width: 25px;
            height: 25px;
            border: @border-width solid transparent;
            box-sizing: border-box;
            transition: background-color 0.3s, color 0.3s;

            &:not(.disabled) {
                cursor: pointer;
            }

            &.today {
                border-color: fade(@primary-color, 30);
            }

            &.selected {
                background-color: @primary-color;
                color: #fff;
            }

            &:not(.selected):not(.disabled):hover {
                background-color: @primary-bg-color;
            }
        }
    }

    // .date.disabled + .date:not(.disabled) {
    //     border-radius: 50%;
    // }
    // .date:not(.disabled) + .date.disabled {
    //     border-radius: 50%;
    // }
}
