@import '../_style/theme.less';

.line {
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 3px;
    transition: background-color 0.3s;
}

.uik-slider {
    height: 4px;
    position: relative;
    margin: 10px 12px;

    &.disabled {
        .uik-slider-line-bg {
            background-color: @disabled-bg-color;
            cursor: not-allowed;
        }
        .uik-slider-line-selected {
            background-color: @disabled-color;
            cursor: not-allowed;
        }
        .uik-slider-dot-content {
            border-color: @disabled-color;
            cursor: not-allowed;
        }
    }

    &-line-bg {
        .line();
        background-color: @primary-bg-color;
        cursor: pointer;
    }

    &-line-selected {
        .line();
        background-color: @primary-color;
        cursor: pointer;
    }

    &-line-max {
        .line();
        background-color: @disabled-color;
        right: 0;
        cursor: not-allowed;
    }

    &-line-min {
        .line();
        background-color: @disabled-color;
        cursor: not-allowed;
    }

    &-dot {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translate(-50%, -50%);

        &-content {
            border: 2px solid @primary-color;
            background-color: #fff;
            box-sizing: border-box;
            width: 14px;
            height: 14px;
            border-radius: 50%;
            transition: border-color 0.3s;
            cursor: pointer;

            &::before {
                content: '';
                position: absolute;
                top: -4px;
                left: -4px;
                width: 22px;
                height: 22px;
                border-radius: 50%;
                background-color: @primary-color;
                transition: opacity 0.3s;
                opacity: 0;
            }

            &::after {
                content: '';
                position: absolute;
                top: 2px;
                left: 2px;
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background-color: #fff;
            }
        }

        &-mousedown {
            &::before {
                opacity: 0.2;
            }
        }
    }
}
