@import '../_style/theme.less';

.uik {
    &-tooltip {
        position: absolute;
        transform: translate(-50%, -100%);
        pointer-events: auto;

        &.show {
            animation: tooltipMoveIn 0.15s forwards;
        }
        &.hidden {
            animation: tooltipMoveOut 0.15s forwards;
        }

        &-arrow {
            overflow: hidden;
            position: absolute;
            top: 100%;
            left: calc(~'50% - 8px');
            pointer-events: none;
            width: 16px;
            height: 6px;

            &-content {
                position: absolute;
                top: 4px;
                left: 5px;
                width: 5px;
                height: 5px;
                transform: translateY(-6.5px) rotate(45deg);
                background-color: rgba(0, 0, 0, 0.75);
            }
        }

        &-inner {
            background-color: rgba(0, 0, 0, 0.75);
            padding: 6px 8px;
            color: #fff;
            border-radius: @border-radius;
            box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
        }
    }
}

@keyframes tooltipMoveIn {
    0% {
        transform-origin: 50% 100%;
        transform: translate(-50%, -100%) scale(0);
        opacity: 0;
    }
    100% {
        transform-origin: 50% 100%;
        transform: translate(-50%, -100%) scale(1);
        opacity: 1;
    }
}

@keyframes tooltipMoveOut {
    0% {
        transform-origin: 50% 100%;
        transform: translate(-50%, -100%) scale(1);
        opacity: 1;
    }
    100% {
        transform-origin: 50% 100%;
        transform: translate(-50%, -100%) scale(0);
        opacity: 0;
    }
}
