@import '../_style/theme.less';

@ju: 8px;
@ju2: 10px;

.uik {
    &-tooltip {
        position: absolute;
        pointer-events: auto;

        .show {
            transform-origin: inherit;
            animation: tooltipScaleIn 0.15s forwards;
        }

        .hidden {
            transform-origin: inherit;
            animation: tooltipScaleOut 0.15s forwards;
        }

        &.topLeft {
            padding-bottom: @ju;
            // transform: translate(0, -100%);
            transform-origin: @ju2 100%;

            .uik-tooltip-arrow {
                top: calc(~'100% - 4px');
                left: @ju2;
            }
        }
        &.topCenter {
            padding-bottom: @ju;
            // transform: translate(-50%, -100%);
            transform-origin: 50% 100%;
           

            .uik-tooltip-arrow {
                top: calc(~'100% - 4px');
                left: calc(~'50% - 4px');
            }
        }
        &.topRight {
            padding-bottom: @ju;
            // transform: translate(-100%, -100%);
            transform-origin: calc(~'100% - @{ju2}') 100%;

            .uik-tooltip-arrow {
                top: calc(~'100% - 4px');
                right: @ju2;
            }
        }

        &.bottomLeft {
            padding-top: @ju;
            // transform: translate(0, 0);
            transform-origin: @ju2 0;
            

            .uik-tooltip-arrow {
                top: -4px;
                left: @ju2;
            }
        }
        &.bottomCenter {
            padding-top: @ju;
            // transform: translate(-50%, 0);
            transform-origin: 50% 0;
            

            .uik-tooltip-arrow {
                top: -4px;
                left: calc(~'50% - 4px');
            }
        }
        &.bottomRight {
            padding-top: @ju;
            // transform: translate(-100%, 0);
            transform-origin: calc(~'100% - @{ju2}') 0;

            .uik-tooltip-arrow {
                top: -4px;
                right: @ju2;
            }
        }

        &.leftTop {
            padding-right: @ju;
            // transform: translate(-100%, 0);
            transform-origin: 100% @ju2;

            .uik-tooltip-arrow {
                top: @ju2;
                right: -4px;
            }
        }
        &.leftCenter {
            padding-right: @ju;
            // transform: translate(-100%, -50%);
            transform-origin: 100% 50%;

            .uik-tooltip-arrow {
                top: calc(~'50% - 4px');
                right: -4px;
            }
        }
        &.leftBottom {
            padding-right: @ju;
            // transform: translate(-100%, -100%);
            transform-origin: 100% calc(~'100% - @{ju2}');
    
            .uik-tooltip-arrow {
                bottom: @ju2;
                right: -4px;
            }
        }

        &.rightTop {
            padding-left: @ju;
            // transform: translate(0, 0);
            transform-origin: 0 @ju2;

            .uik-tooltip-arrow {
                top: @ju2;
                left: -4px;
            }
        }
        &.rightCenter {
            padding-left: @ju;
            // transform: translate(0, -50%);
            transform-origin: 0 50%;

            .uik-tooltip-arrow {
                top: calc(~'50% - 4px');
                left: -4px;
            }
        }
        &.rightBottom {
            padding-left: @ju;
            // transform: translate(0, -100%);
            transform-origin: 0 calc(~'100% - @{ju2}');

            .uik-tooltip-arrow {
                bottom: @ju2;
                left: -4px;
            }
        }

        &-arrow {
            overflow: hidden;
            position: absolute;
            pointer-events: none;
            width: 8px;
            height: 8px;

            &-content {
                position: absolute;
                top: calc(~'50% - 3px');
                left: calc(~'50% - 3px');
                width: 6px;
                height: 6px;
                transform: rotate(45deg);
                background-color: rgba(0, 0, 0, 0.75);
            }
        }

        &-inner {
            background-color: rgba(0, 0, 0, 0.75);
            padding: 6px 8px;
            color: #fff;
            border-radius: @border-radius;
            box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
        }
    }
}

// ================

@keyframes tooltipScaleIn {
    0% {
        transform: scale(0.8);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes tooltipScaleOut {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(0.8);
        opacity: 0;
    }
}
