@import '../../_style/theme.less';

@padding-juli: 8px;
@arrow-juli: 10px;

.uik {
    &-notice {
        position: absolute;
        pointer-events: auto;

        & > div {
            position: relative;
        }

        .show {
            transform-origin: inherit;
            animation: noticeScaleIn 0.15s forwards;
        }

        .hidden {
            transform-origin: inherit;
            animation: noticeScaleOut 0.15s forwards;
        }

        &.topLeft {
            padding-bottom: @padding-juli;
            transform-origin: @arrow-juli 100%;

            .uik-notice-arrow {
                top: 100%;
                left: @arrow-juli;
            }
            .uik-notice-arrow-content {
                top: -4px;
            }
        }
        &.topCenter {
            padding-bottom: @padding-juli;
            transform-origin: 50% 100%;

            .uik-notice-arrow {
                top: 100%;
                left: calc(~'50% - 4px');
            }
            .uik-notice-arrow-content {
                top: -4px;
            }
        }
        &.topRight {
            padding-bottom: @padding-juli;
            transform-origin: calc(~'100% - @{arrow-juli}') 100%;

            .uik-notice-arrow {
                top: 100%;
                right: @arrow-juli;
            }
            .uik-notice-arrow-content {
                top: -4px;
            }
        }

        &.bottomLeft {
            padding-top: @padding-juli;
            transform-origin: @arrow-juli 0;

            .uik-notice-arrow {
                top: -8px;
                left: @arrow-juli;
            }
            .uik-notice-arrow-content {
                bottom: -4px;
            }
        }
        &.bottomCenter {
            padding-top: @padding-juli;
            transform-origin: 50% 0;

            .uik-notice-arrow {
                top: -8px;
                left: calc(~'50% - 4px');
            }
            .uik-notice-arrow-content {
                bottom: -4px;
            }
        }
        &.bottomRight {
            padding-top: @padding-juli;
            transform-origin: calc(~'100% - @{arrow-juli}') 0;

            .uik-notice-arrow {
                top: -8px;
                right: @arrow-juli;
            }
            .uik-notice-arrow-content {
                bottom: -4px;
            }
        }

        &.leftTop {
            padding-right: @padding-juli;
            transform-origin: 100% @arrow-juli;

            .uik-notice-arrow {
                top: @arrow-juli;
                right: -8px;
            }
            .uik-notice-arrow-content {
                left: -4px;
            }
        }
        &.leftCenter {
            padding-right: @padding-juli;
            transform-origin: 100% 50%;

            .uik-notice-arrow {
                top: calc(~'50% - 4px');
                right: -8px;
            }
            .uik-notice-arrow-content {
                left: -4px;
            }
        }
        &.leftBottom {
            padding-right: @padding-juli;
            transform-origin: 100% calc(~'100% - @{arrow-juli}');

            .uik-notice-arrow {
                bottom: @arrow-juli;
                right: -8px;
            }
            .uik-notice-arrow-content {
                left: -4px;
            }
        }

        &.rightTop {
            padding-left: @padding-juli;
            transform-origin: 0 @arrow-juli;

            .uik-notice-arrow {
                top: @arrow-juli;
                left: -8px;
            }
            .uik-notice-arrow-content {
                right: -4px;
            }
        }
        &.rightCenter {
            padding-left: @padding-juli;
            transform-origin: 0 50%;

            .uik-notice-arrow {
                top: calc(~'50% - 4px');
                left: -8px;
            }
            .uik-notice-arrow-content {
                right: -4px;
            }
        }
        &.rightBottom {
            padding-left: @padding-juli;
            transform-origin: 0 calc(~'100% - @{arrow-juli}');

            .uik-notice-arrow {
                bottom: @arrow-juli;
                left: -8px;
            }
            .uik-notice-arrow-content {
                right: -4px;
            }
        }

        &-inner {
            color: #fff;
            background-color: rgba(0, 0, 0, 0.75);
            border-radius: @border-radius;
            box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.2), 0 6px 16px 0 rgba(0, 0, 0, 0.1), 0 9px 28px 8px rgba(0, 0, 0, 0.08);

            .uik-notice-arrow {
                overflow: hidden;
                position: absolute;
                pointer-events: none;
                width: 8px;
                height: 8px;
                display: flex;
                align-items: center;
                justify-content: center;

                &-content {
                    position: relative;
                    width: 6px;
                    height: 6px;
                    transform: rotate(45deg);
                    background-color: rgba(0, 0, 0, 0.75);
                }
            }
        }
    }
}

// ================

@keyframes noticeScaleIn {
    0% {
        transform: scale(0.8);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes noticeScaleOut {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(0.8);
        opacity: 0;
    }
}
