@import '../_style/theme.less';

.uik-close {
    &-icon {
        cursor: pointer;
        color: @disabled-color;
        transition: color 0.3s;

        &.small {
            font-size: @font-size-small;
        }
        &.middle {
            font-size: @font-size-middle;
        }
        &.large {
            font-size: @font-size-large;
        }

        &:hover {
            color: fade(@font-color, 60);
        }

        &.danger {
            &:hover {
                color: @danger-color;
            }
        }
    }
}
