@import url('//at.alicdn.com/t/font_2300539_pd99e3x3i4j.css');

.uik-iconfont {
    // font-family: 'iconfont' !important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
